---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col gap-4">
    <h1 class="prose-2xl">Create a Book</h1>
    <form class="flex flex-col gap-4">
      <label class="form-control">
        <div class="label">
          <span class="label-text">Title</span>
        </div>
        <input type="text" class="input input-secondary" />
      </label>
      <label class="form-control">
        <div class="label">
          <span class="label-text">Thumbnail</span>
        </div>
        <select class="select select-secondary">
          <option value="home">Home</option>
        </select>
      </label>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </main>
</Layout>
